<div class="container">
  <div class="col-md-6 offset-md-3"></div>
  <div class="card my-4 border-0 shadow-sm">
    <div class="card-body">
      <h3>Create hostel</h3>

      <form action="">
        <div class="mt-4">
          <label for="">Hostel Name</label>
          <input type="text"
                 class="form-control"
          placeholder="Enter hostel name"/>
        </div>
        <div class="mt-3">
          <label for="">Hostel Adress</label>
          <input type="text"
                 class="form-control"
                 placeholder="Enter hostel address"/>
        </div>

        <div class="form-check form-switch mt-3">
          <input class="form-check-input" type="checkbox" id="">
          <label class="form-check-label" for="">IsActive</label>
        </div>


        <div class="mt-3">
          <button class=" btn btn-outline-dark " >
            Register
          </button>

        </div>

      </form>

    </div>
  </div>
</div>
