<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <div class="card border-0 shadow-sm my-4 ">
        <div class="card-body">
          <H3>Hostels</H3>

          <div class="row">
            <div class="col-sm-4">
              <h2>Name</h2>
              <p>John Doe</p>
            </div>
            <div class="col-sm-4">
              <h2>Address</h2>
              <p>123 Main St.</p>
            </div>
            <div class="col-sm-4">
              <h2>Status</h2>
              <p>Active</p>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
</div>
